.herder{
    background-color: yellow;
    height: 300px;
}
.herderdier{
    background-color: green;
}

div{
    background-color: blue;
    width: 150px;
}

*{
    background-color: red;
    width: 100px;
    height: 100px;
}